# gradle


*~
\#*



.gradle/
build/
out/
classes/

**/build/
**/.gradle/
**/run/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
.classpath
.project
*/bin
.idea/

# macos

*.DS_Store

# fabric

run/
logs/

.architectury-transformer/

# Logs and local environment
*.log
.env

